@page
@model TpsReports.Website.Pages.Reports.CreateModel
@{
}

<br />

<div class="row">
    <div class="col-md-6">
        <form method="post" class="form">
            <div class="form-group">
                <label>Report Name</label>
                <input type="text" class="form-control" asp-for="CreateReportViewModel.Name" />
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-default">SUBMIT</button>
            </div>
        </form>
    </div>
</div>
